<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online Quiz</title>
  <!-- META TAGS -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FAV ICON(BROWSER TAB ICON) -->
  <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
  <!-- GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
  <!-- FONTAWESOME ICONS -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <!-- ALL CSS FILES -->
  <link href="/css/materialize.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
  <link href="/css/responsive.css" rel="stylesheet">
</head>

<body style="background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #5691c8, #457fca);">
  {{> header }}
  {{{body}}}
  <br>
  {{> footer }}
</body>
<!-- Bootstrap 5 JS Bundle (includes Popper) -->
<!--ALL SCRIPT FILES-->
{{!--
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.js"></script> --}}
<script src="/js/angular.min.js"></script>
{{!--
<script src="/js/bootstrap.js" type="text/javascript"></script> --}}
{{!--
<script src="/js/materialize.min.js" type="text/javascript"></script>
<script src="/js/jquery.mixitup.min.js" type="text/javascript"></script> --}}
{{!--
<script src="/js/custom.js"></script> --}}
<script src="js/validuserinputs.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/quiz.js"></script>
<script src="/js/login.js"></script>
<script src="/js/register.js"></script>

</html>