<br>
<br>
<br>
<br>
<br>
<main style="margin-top: 10px;">
  <div class="log-in-pop" style=" border-radius:10px;">
    <div class="log-in-pop-left">
      <center>
        <img src="/images/panda_sign.png" style="background-size: contain; height: 60%; width: 60%;">
      </center>
    </div>
    <div class="log-in-pop-right">
      <b style="text-align: center; font-size: 1.9rem; font-weight: 800;">Login</b>

      <form id="loginForm" class="s12" action="/signin" method="POST">
        <br>
        <div>
          <div class="input-field s12">
            <input type="email" id="username" name="username" data-ng-model="name" class="validate" required>
            <label>User name</label>
          </div>
        </div>
        <div>
          <div class="input-field s12">
            <input type="password" id="password" name="password" class="validate" required>
            <label>Password</label>
          </div>
        </div>
        <div>
          <br>
          <div class="s12 log-ch-bx">
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">Remember me</label>
            </p>
          </div>
        </div>
        <br>
        <div>
          <div class="input-field s4">
            <input type="submit" value="Login" class="waves-effect waves-light log-in-btn">
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
</main>
<br>
<br>
<br>
<br>
<br>