<br>
<br>
<br>
<br>
<main style="margin-top: 10px;">
  <div class="log-in-pop" style=" border-radius:10px;">
    <div class="log-in-pop-left">
      <center>
        <img src="<%= qrCodeUrl ? qrCodeUrl : '/images/panda_sign.png' %>"
          style="background-size: contain; height: 90%; width: 90%;">
        <p style="color: black; font-weight: 800;">Scan to set up & get MFA passcode by Google Authentication
          app</p>
      </center>

    </div>
    <div class="log-in-pop-right">
      <b style="text-align: center; font-size: 1.9rem; font-weight: 800;">Register Your Account</b>

      <form class="s12" action="/register" method="POST">
        <br>
        <div>
          <div class="input-field s12">
            <select name="Role" id="Role" class="userinputcontrols" required>
              <option value="" disabled selected>Please Select</option>
              <option value="1">Normal
              </option>
              <option value="0">Admin
              </option>
            </select>
          </div>
        </div>
        <div>
          <div class="input-field s12">
            <input style="width: 98.5%;" name="FirstName" id="FirstName" type="text"
              class="form-control validate userinputcontrols" required>
            <label>First name</label>
          </div>
        </div>
        <div>
          <div class="input-field s12">
            <input style="width: 98.5%;" name="LastName" id="LastName" type="text"
              class="form-control validate userinputcontrols" required>
            <label>Last Name</label>
          </div>
        </div>
        <div>
          <div class="input-field s12">
            <input style="width: 98.5%;" type="email" name="UserName" id="UserName"
              class="form-control validate userinputcontrols" required>
            <label>Email</label>
          </div>
        </div>
        <div>
          <div class="input-field s12">
            <input style="width: 98.5%;" type="password" id="Password" name="Password"
              class="form-control validate userinputcontrols">
            <label>Password</label>
          </div>
          <div class="input-field s12">
            <input style="width: 98.5%;" type="password" id="confirmPassword" name="confirmPassword"
              class="form-control validate userinputcontrols">
            <label>Confirm Password</label>
          </div>
        </div>
        <div>
          <div class="input-field s12">
            <input type="text" id="Token" name="Token" style="display: none;" value="<%= userSecretCode %>"></input>
            <input style="width: 98.5%;" type="text" id="PassCode" name="PassCode" class=" validate userinputcontrols">
            <label>Enter MFA Passcode</label>
          </div>
        </div>
        <br>
        <div>
          <div class="input-field s4">
            <input type="submit" value="Sign Up" class="waves-effect waves-light log-in-btn">
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
</main>
<br>
<br>
<br>
<br>
<br>

<script>
  document.getElementById('addInterestForm').addEventListener('submit', function (event) {
    event.preventDefault();

    const formData = new FormData(this);
    const url = "http://localhost:3000/adduserinterest";

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        firstname: formData.get('firstname'),
        lastname: formData.get('lastname'),
        email: formData.get('email'),
        interest: formData.get('interest')
      })
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        alert('Add new interest Successfully!');
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Cannot Add new Interest!');
      });
  });
</script>